.wrapper2
  .mypage-right-side
    .mypage-right-side__header
      プロフィール
    .mypage-right-side-prof
      .mypage-right-side-prof__main
        %p.span.mypage-right-side-prof__main__nickname
          ニックネーム：     スクラムマスター
        %p.mypage-right-side-prof__main__email
          メールアドレス：   sukuramu@gmail.com
        %p.mypage-right-side-prof__main__name
          お名前：          平田侑也
        %p.mypage-right-side-prof__main__kana
          お名前カナ：       ヒラタユウヤ
        %p.mypage-right-side-prof__main__birthday
          生年月日：         1988/08/08
        %p.mypage-right-side-prof__main__tell
          電話番号：         09054147572