.category__child, .category__parent, .category__grandchild{
  display: none;
}

.category__icon,.brands__icon{
  color: #3CCACE;
}

.category__title{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

// カテゴリーの大枠の要素の共通項
.category__list{
  position: absolute;
  height: 573px;
  background-color: white;
  border-right: 1px solid whitesmoke;
}

// 子要素はカテゴリー名の共通項
.category__child--name{
  width: 100%;
  color: black;
  display: inline-block;
  padding: 3px 15px;
  font-size: 14px;
  letter-spacing: 2px;
  border-bottom: 1px solid whitesmoke;
  span:hover{
    color:#3CCACE;
    font-weight: bold;
  }
}

.category__parent--name{
  border-bottom: 1px solid whitesmoke;
  span:hover{
    color:#3CCACE;
    font-weight: bold;
  }
}

.categories{
  padding-bottom: 10px;
  margin-left: 20px;
  a{
    text-decoration: none;
  }
  &:hover{
    .category__parent{
      top: 122px;
      display: block;
      &--name{
        width: 100%;
        color: black;
        display: inline-block;
        padding: 10px 20px;
        font-size: 13px;
        letter-spacing: 2px;
      }
      li {
        &:hover{
          .category__child{
            width: 100%;
            display: block;
            top: 0;
            left: 221px;
            li {
              &:hover{
                .category__grandchild{
                  width: 300px;
                  display: block;
                  top: 0;
                  left: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}
