.product__userRelated__productsBox__products
  =image_tag "bde401bdce699ac4b549d01a58eef25f6f63878e.jpg", class: "product__userRelated__productsBox__products__image"
  .product__userRelated__productsBox__products__body
    .product__userRelated__productsBox__products__body__name
      ラーメン
    .product__userRelated__productsBox__products__body__info
      .product__userRelated__productsBox__products__body__info__price
        500000円
      .product__userRelated__productsBox__products__body__info__like
        %i.fa.fa-star
        1
    .product__userRelated__productsBox__products__body__tax
      (税込)