-# = form_with url: purchase_product_path do
-#   :plain
-#     <script type= "text/javascript" src= "https://checkout.pay.jp" class="payjp-button" data-key="pk_test_d02048c4b8f954aa38ce9646"></script>
