.product
  .product__topContent
    .product__topContent__itemBox
      .product__topContent__itemBox__name
        杉本
      .product__topContent__itemBox__imageBox
        =image_tag "tume_019.jpg", class: "product__topContent__itemBox__imageBox__mainImage"
        .product__topContent__itemBox__imageBox__subImages
          =image_tag "51XSiYjXsXL._AC_.jpg", class: "product__topContent__itemBox__imageBox__subImages__subImage"
          =image_tag "7e5638e90e12ec31f75a5672aef13138.jpg", class: "product__topContent__itemBox__imageBox__subImages__subImage"
          =image_tag "efffef.jpg", class: "product__topContent__itemBox__imageBox__subImages__subImage"
      .product__topContent__itemBox__priceBox
        .product__topContent__itemBox__priceBox__price
          ￥10000
        .product__topContent__itemBox__priceBox__tax
          (税込) 送料込み
      .product__topContent__itemBox__discription
      