.new-addresses{
  width:100%;
  padding-bottom: 100px;
  background-color: #eeeeee;
  .icon {
    display: block;
    margin: 0 auto;
    padding-top: 32px;
    margin-bottom:30px;
  }
  &__wrapper{
    text-align: center;
    margin: auto;
    width:700px;
    height:100%;
    background-color:white;
    .name2{
      font-weight: bold;
      font-size: 22px;
      padding:18px;
      border-bottom:1px solid lightgray;
    }
    &__user-name{
      .name{
        margin-top:20px;
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 15px;
        &__required{
          margin-left:10px;
          background-color: red;
          color: #EEEEEE;
          font-size: 14px;
          border-radius: 2px;
          width:40px;
        }
      }
      .name-box{
        display: flex;
        justify-content: center;
        &__last-name{
          &_box{
            margin:20px 10px 10px 10px;
            width:190px;
            height:50px;
          }
        }
        &__first-name{
          &_box{
            margin:20px 10px 10px 10px;
            width:190px;
            height:50px;
          }
        }
      }
    }
    &__user-name__kana{
      .name{
        margin-top:20px;
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 15px;
        &__required{
          margin-left:10px;
          background-color: red;
          color: #EEEEEE;
          font-size: 14px;
          border-radius: 2px;
          width:40px;
        }
      }
      .name-box{
        display: flex;
        justify-content: center;
        &__last-name{
          &_box{
            margin:20px 10px 10px 10px;
            width:190px;
            height:50px;
          }
        }
        &__first-name{
          &_box{
            margin:20px 10px 10px 10px;
            width:190px;
            height:50px;
          }
        }
      }
    }
    &__post-code{
      padding-top:40px;
      .name{
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 15px;
        &__required{
          margin-left:10px;
          background-color: red;
          color: #EEEEEE;
          font-size: 14px;
          border-radius: 2px;
          width:40px;
        }
       
      }
    }
    &__box{
      width:400px;
        height:50px;
        border-radius: 3px;
        border:1px solid lightgray;
    }
    &__refecture{
      padding-top:40px;
      .name{
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 15px;
        &__required{
          margin-left:10px;
          background-color: red;
          color: #EEEEEE;
          font-size: 14px;
          border-radius: 2px;
          width:40px;
        }       
      }
    }
    #address_prefecture{
      width:400px;
        height:50px;
        border-radius: 3px;
        border:1px solid lightgray;
    }
    &__post-code{
      padding-top:40px;
      .name{
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 15px;
        &__required{
          margin-left:10px;
          background-color: red;
          color: #EEEEEE;
          font-size: 14px;
          border-radius: 2px;
          width:40px;
        }     
      }
      &__box{
        width:400px;
          height:50px;
          border-radius: 3px;
          border:1px solid lightgray;
      }
    }
    &__refecture{
      padding-top:40px;
      .name{
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 15px;
        &__required{
          margin-left:10px;
          background-color: red;
          color: #EEEEEE;
          font-size: 14px;
          border-radius: 2px;
          width:40px;
        }
       
      }

    }
    &__box{
      width:400px;
        height:50px;
        border-radius: 3px;
        border:1px solid lightgray;
    }
    &__city{
      padding-top:40px;
      .name{
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 15px;
        &__required{
          margin-left:10px;
          background-color: red;
          color: #EEEEEE;
          font-size: 14px;
          border-radius: 2px;
          width:40px;
        }
       
      }
    }
    &__box{
      width:400px;
        height:50px;
        border-radius: 3px;
        border:1px solid lightgray;
    }
    &__house-number{
      padding-top:40px;
      .name{
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 15px;
        &__required{
          margin-left:10px;
          background-color: red;
          color: #EEEEEE;
          font-size: 14px;
          border-radius: 2px;
          width:40px;
        }
       
      }
    }
    &__box{
      width:400px;
        height:50px;
        border-radius: 3px;
        border:1px solid lightgray;
    }
    &__building-name{
      padding-top:40px;
      .name{
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 15px;
        &__required{
          margin-left:10px;
          background-color: lightgray;
          color: #EEEEEE;
          font-size: 14px;
          border-radius: 2px;
          width:40px;
        }
       
      }
    }
    &__box{
      width:400px;
        height:50px;
        border-radius: 3px;
        border:1px solid lightgray;
    }
    .sign-in__button{
      .btn--blue{
        margin:40px 0 30px 0;
        width:400px;
        height:50px;
        background-color:  rgb(247, 40, 40);
        border:1px solid  rgb(247, 40, 40);
        border-radius: 3px;
      }
    }
    .sign-in__button{
      .btn--blue:hover{
        opacity: 0.6;
      }
    }
  }
}
