-# config/breadcrumbs.rbに定義したmypageを呼び出し
- breadcrumb :mypage
-# - breadcrumb :show

-# カテゴリー #----------------------------------------
-# - breadcrumb :category_index

-# 下記を記述した箇所にパンくずリストが表示される。
%nav.breadcrumbs
  %ol.breadcrumbs__list
    = breadcrumbs separator: " &rsaquo; ",class: "breadcrumbs__list__list"
